In [1]:
# import dependencies
import pandas as pd

In [2]:
# Navitage to the source data
school_data_csv = "schools_complete.csv"
student_data_csv = "students_complete.csv"

In [3]:
# read in the CSVs as dataframes, then create 1 "master" dataframe to hold all data
school = pd.read_csv(school_data_csv)
student = pd.read_csv(student_data_csv)
complete_data = pd.merge(student, school, how="left", on=["school_name", "school_name"]) 
complete_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

### District Summary
***
 - Total schools
 - Total students
 - Total budget
 - Average math score
 - Average reading score
 - % passing math (the percentage of students who passed math)
 - % passing reading (the percentage of students who passed reading)
 - % overall passing (the percentage of students who passed math AND reading)

In [12]:
# This code will create a new dictionary that will store values from the combined complete_data dataframe
# This dictionary will form the basis for a new dataframe we'll create that will answer the "District Summary"
# bullet points from above
dict1 = {"Total Schools":"{:,}".format(len(pd.unique(complete_data['school_name']))),
         "Total Students":"{:,}".format(len(complete_data['Student ID'])),
         "Total Budget":"${:,.2f}".format(complete_data.drop_duplicates(['budget'])['budget'].sum()),
         "Average Math Score":complete_data['math_score'].mean(),
         "Average Reading Score":complete_data['reading_score'].mean(),
         "% Passing Math":(complete_data[complete_data['math_score'] >= 70]['Student ID'].count() / len(complete_data['Student ID']) * 100),
         "% Passing Reading":(complete_data[complete_data['reading_score'] >= 70]['Student ID'].count() / len(complete_data['Student ID']) * 100),
         "% Overall Passing":(complete_data[(complete_data['math_score']>=70) & (complete_data['reading_score']>=70)]['Student ID'].count() / len(complete_data['Student ID']) * 100)           
}

# Now we create a new "Summary" dataframe by reading in the dictionary we just created. Wah-lah!
Summary = pd.DataFrame(dict1,index=[0])

# Here she blows:
Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

### School Summary
***
 - School name
 - School type
 - Total students
 - Total school budget
 - Per student budget
 - Average math score
 - Average reading score
 - % passing math (the percentage of students who passed math)
 - % passing reading (the percentage of students who passed reading)
 - % overall passing (the percentage of students who passed math AND reading)